<header>
    <ul>
        <li>
            <a href="/">Головна</a>
        </li>
        <li>
            <a href="/about">Про Мене</a>
        </li>
        <li>
            <a href="post/category/rest">Відпочинок</a>
        </li>
        <li>
            <a href="post/category/family">Сімейний відпочинок</a>
        </li>
        <li>
            <a href="post/category/travel">Подорожі</a>
        </li>
        <li>
            <a href="post/category/business">Для кар'єри</a>
        </li>
    </ul>
</header>